{% extends 'layout.html'  %}

{% block title %}title of page{% endblock %}

{% block calculator %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="calculator-case">
					<div id="top-area">
						<div id="calculator-screen"></div>
						<div id="screen-functions">
						<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</div>
					<br>
					<div id="pad">
						<div class="sections">
							<a href="#" class="btn number-buttons">+/-</a>
							<a href="#" class="btn number-buttons">exp</a>
							<a href="#" class="btn number-buttons">(</a>
							<a href="#" class="btn number-buttons">)</a>
						</div>
						<div class="sections">
							<a href="#" class="btn number-buttons">7</a>
							<a href="#" class="btn number-buttons">8</a>
							<a href="#" class="btn number-buttons">9</a>
							<a href="#" class="btn number-buttons">/</a>
						</div>
						<div class="sections">
							<a href="#" class="btn number-buttons">4</a>
							<a href="#" class="btn number-buttons">5</a>
							<a href="#" class="btn number-buttons">6</a>
							<a href="#" class="btn number-buttons">*</a>
						</div>
						<div class="sections">
							<a href="#" class="btn number-buttons">1</a>
							<a href="#" class="btn number-buttons">2</a>
							<a href="#" class="btn number-buttons">3</a>
							<a href="#" class="btn number-buttons">-</a>
						</div>
						<div class="sections">
							<a href="#" class="btn number-buttons">0</a>
							<a href="#" class="btn number-buttons">.</a>
							<a href="#" class="btn number-buttons">%</a>
							<a href="#" class="btn number-buttons">+</a>
						</div>
						<div class="sections">
							<a href="#" class="btn number-buttons"><span class="glyphicon glyphicon-send"></span></a>
							<a href="#" class="btn number-buttons"><span class="glyphicon glyphicon-floppy-disk"></span></a>
							<a href="#" class="btn number-buttons"><span class="glyphicon glyphicon-arrow-left"></span></a>
							<a href="#" class="btn number-buttons">=</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="history-output">
					<h3>History</h3>
					<div id="out">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
